<footer class="footer">
  <div class="footer-body container">
    <%= link to: chain_path(@conn, :show), class: "footer-brand" do %>
      <img class="footer-logo" src="<%= logo() %>" />
    <% end %>
    <%= gettext "Copyright 2018. TravelCoin Foundation. All Rights Reserved."%>
  </div>
</footer>
